.system-container{
    //padding: 100px;
    // margin:3% 0% 3% 15%;
    display: flex;
    .menuapp{

        height: auto;
        width: 25%;
    }
    .system-list{
        height: auto;
        width: 75%;
    }
}