.product{
    padding: 30px;
}
.product-item{padding: 20px;}
.card-body{
  .card-center{  text-align: center;}
    button{margin: 10px; text-align: center;}
}
.card-pro-pro{
    
    height: 456px;
    img{height: 65%;}

}